<link rel="manifest" href="/manifest.json">

<link rel="shortcut icon" href="/favicons/favicon.ico" >

<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-36x36.png" sizes="36x36">
<link rel="icon" type="image/png" href="/favicons/favicon-48x48.png" sizes="48x48">
<link rel="icon" type="image/png" href="/favicons/favicon-72x72.png" sizes="72x72">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/favicon-128x128.png" sizes="128x128">
<link rel="icon" type="image/png" href="/favicons/favicon-144x144.png" sizes="144x144">
<link rel="icon" type="image/png" href="/favicons/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/favicon-256x256.png" sizes="256x256">
<link rel="icon" type="image/png" href="/favicons/favicon-512x512.png" sizes="512x512">

<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-1024x1024.png">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-152x152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-167x167.png" sizes="167x167">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-180x180.png" sizes="180x180">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-128x128.png" sizes="128x128">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-256x256.png" sizes="256x256">
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-512x512.png" sizes="512x512">

<meta name="theme-color" content="#7759C2" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#7759C2" media="(prefers-color-scheme: dark)">
